.contact-us {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
}

.contact-us h1 {
    font-size: 2.5rem;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}

.contact-us h1 span {
    color: #ff006e;
    font-size: 3rem;
}

.contact-us h2 {
    margin-bottom: 25px;
}

.contact-us p {
    padding: 20px 50px;
}

.contact-us h2 span {
    color: #ff006e;
}

.contact-us h4 {
    margin-bottom: 20px;
}

.contact-us h5 {
    margin-bottom: 30px;
}

.contact-us img {
    margin-top: -10em;
    margin-left: 11em;
}

.sign-up {
    width: 100%;
    padding: 15px;
    /* background: linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40)),url(../assets/contact-bg.jpg); */
    background-color: #353535;
    background-size: cover;
    height: 150px;
}

.sign-up h2 {
    font-size: 2 rem;
    color: #ffffff;
}
.sign-up form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.sign-up form input {
    margin-right: 20px;
    width: 34rem;
    padding: 6px 15px;
    border-radius: 5px;
    background-color:white;
    border: none;
}

.sign-up form ::placeholder {
    font-size: 1.2rem;
    font-weight: 500;
    color: #5a5a5a;
    letter-spacing: 3px;
}

.sign-up form button {
    border: none;
    padding: 6px 10px;
    background-color: #ff006e;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 2px 2px 4px #000000;
    transition: all 0.3s ease-in-out;
}

.sign-up form button:hover {
    background-color: black;
    color: yellow;
}

.sign-up form button:active {
    box-shadow: none;
}

@media screen and (max-width:769px){
    .contact-us img{
        width: 400px;
        height: 100px;
        margin-top: 5px;
        margin-left: -5px;
       }
       .sign-up{
        margin: 0 5px;
        width: 460px;
        height: 170px;
       }
      .sign-up form{
        margin: 10px;
      }
      .sign-up form button{
        margin-top: 10px;
      }
}