.quick {

    background: url('/src/components/assets/quick-bg-c2.jpg');
    background-size: cover;
    margin-bottom: 15px;
    width: 100%;
}

.quick>h2 {
    text-align: center;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    font-weight: 500;
    padding: 30px;
    text-shadow: 2px 2px 4px #ff006e;
}

.quick h2 span {
    font-size: 3.5rem;
    color: #ff006e;
    text-shadow: none;
}

.content-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 120px;
}

.form-container {
    width: 450px;
    border: 2px solid white;
    text-align: center;
    border-radius: 10px 50px;
    backdrop-filter: blur(5px);
    margin-bottom: 30px;
    padding: 10px;
}

.form-container h3 {
    font-size: 2.2rem;
    color: #ff006e;
    font-weight: 700;
    margin-top: 15px;
}

.form-container h3 span {
    color: #000000;
}

.form-container form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;

}

.form-container form input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    width: 380px;
    margin-bottom: 38px;
}

.form-container form ::placeholder {
    font-size: 1.4rem;
    color: white;
    font-weight: 500;
}

.form-container form button {
    background-color: transparent;
    padding: 5px 80px;
    border: 1px solid white;
    border-radius: 50px;
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin-top: -15px;
    backdrop-filter: blur(8px);
    transition: all 0.3s ease-in-out;
}

.form-container form button:hover {
    letter-spacing: 3px;
}

.address {
    color: white;
    border: 2px solid white;
    border-radius: 50px 10px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    margin-bottom: 30px;
    padding: 10px;
}

.address h2 {
    font-size: 2.2rem;
    font-weight: 700;
    color: white;
    margin-top: 15px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #ff006e;
}

.address h3 {
    font-size: 2rem;
    margin-right: 7em;
    font-weight: 600;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.address h3 span {
    color: #ff006e;
}

.address p {
    font-size: 1.7rem;
    font-weight: 500;
    text-align: center;
    line-height: 45px;
}

.address i {
    font-size: 1.3em;
    padding-right: 5px;
    color: #ff006e;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation: blink 1.5s infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@media screen and (max-width:769px) {
    .content-box {
        gap: 10px;
    }

    .address {
        border-radius: 10px 50px;
    }

}

@media screen and (max-width:500px) {

    .form-container,
    .address {
        width: 350px;
    }

    .form-container form input {
        width: 250px;
    }

    .form-container form button {
        font-size: 1rem;
    }

    .form-container form ::placeholder {
        font-size: 1.3rem;
    }

    .address h3 {
        margin-right: 4em;
        margin-bottom: 10px;
    }

    .address h2 {
        margin-bottom: 10px;
    }

    .address p {
        line-height: 40px;
    }

    .content-box {
        padding: 5px;
    }
}